*{
  margin:0px;
  padding: 0px;
}
#body{
display: inline-block;
font-family: sans-serif;
}
#topwrapper{
display: inline-block;
padding: 15px;
background-color: #3c8796;
}
#topbar{
display: inline-block;
}
#pythonimage{
display: inline-block;
}
#txtsrchbar{
display: inline-block;
margin-left: 300px;
vertical-align: top;
}
#txtposition{
  display: inline-block;
  margin-left: 110px;
  margin-bottom: 5px;
}
#txtsize{
color:white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
}
.txtsizelinks{
color:#ffae42 ;
display: inline-block;
}

#searchbarbackground{
background-color: #423f39;
padding:15px 35px;
border-radius: 12px;
 box-shadow: 2.5px 2.5px 1.25px #000000;
}
#srchinbar{
  padding:7px;
  color: grey;
  text-indent: 4em;
  border: 2px solid #918e89;
  margin-left: 25px;

}
#gobutton{
  background-color: #3c8796;
  padding:10px;
  color: white;
  border-radius: 10px;
  border-color: lightgrey;
  margin-right: 25px;

}
#navbanner{
 background-color: lightblue;
 border-radius: 15px;
 margin-left: 50px;
 margin-right: 30px;
 padding:12px;
 box-shadow: 2.5px 2.5px 1.25px #000000;
}
.navbannerlinks{
  text-decoration: none;
  margin: 30px 35px;
  font-size: 27px;
  color:white;
font-family: sans-serif;
}
#mainbody{
color: white;
}
#leftsidebar{
 margin-left: 200px;
 display: inline-block;
 text-align: center;
 margin-top: 50px;
}
.leftlinks{
  color: white;
}
#rightmain{
 text-align: center;
 display: inline-block;
 width: 700px;
 margin-left: 150px;
 margin-right: 51px;
 font-family: sans-serif;
 vertical-align: top;
 margin-top: 50px;
}
.orgltrs{
color:orange;
margin-top: 5px;
margin-bottom: 5px;
font-size: 20px;
font-weight: lighter;
font-style: italic;
}
#zen{
  margin-top: 10px;
  margin-bottom: 10px;
}
#midwhitewrapper{
  background-color: white;
  display: inline-block;
  margin-bottom: 10px;
}
#gettingstartedbox{
  margin-left: 200px;
  display: inline-block;
}
.bartop{
  height:4px;
  width:500px;
  background-color: skyblue;
  display: inline-block;
  margin-top:10px;
  border: none;
}
#gettingstartedtxt{
  width:325px;
  text-align: center;
}
.bulletsleft{
margin-left: 40px;
}
.bluelist{
color:blue;
 width: 250px;
 text-decoration: none;
}
#applications{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width:325px;
}
#the{
  display: inline-block;
}
#pypi{
 color: blue;
 font-size: 12px;
 display: inline-block;
}
#footer{
background: linear-gradient(#3c8796,#3c8796,#16c9a6);
height:50px;
padding:15px;
}
#main3links{
text-align: center;
margin-top: 20px;
}
.footerlinks{
 margin-left: 50px;
 text-decoration: none;
 color:lightgrey;
 opacity: 0.5;
}
#copyright{
 text-align: center;
 opacity: 0.5;
 font-size: 10px;
 color: lightgrey;
 margin-top: 15px;
}
